
html body {
    background-color: $bc-main;
    overflow-y: scroll;

    * {
        margin-bottom: 0;

        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        line-height: 150%;

        color: $text-main;

        overflow: hidden;
    }
}


.block {
    margin: 0 2.5vw;
}

.button {
    font-weight: 600;

    color: $white;
    padding: 0 36px;

    background-color: $blue;
    border-radius: 4px;
}


