.top {
    padding: 124px 121px 207px;

    background-image: url('../../../public/src/img/bc-top.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 40px 40px 0 0;

    &__header {
        margin-bottom: 70px;

        font-size: 72px;
        font-weight: 600;
        letter-spacing: -1.584px;

        text-transform: uppercase;
    }

    &__desc {
        margin-bottom: 70px;

        font-size: 36px;
        letter-spacing: -0.792px;

        text-transform: uppercase;
    }

    &__btns {
        gap: 48px;
    }

    &__car {
        top: 24%;
        right: -2%;
    }
}
